body {
  font-family: 'DM Mono', monospace;
  padding: 20px;
  background-color: #f9f9f9;
  margin: 0;
}

h1 {
  font-size: 48px;
  color: #25306c;
  text-align: center;
  margin-bottom: 40px;
  font-weight: 700;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  border: 1px solid #25306c;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  resize: none;
  margin-bottom: 20px;
  background-color: #90caf944;
  font-family: 'DM Mono', monospace;
}

label {
  font-size: 24px;
  color: #25306c;
}

select, input[type="range"] {
  width: 100%;
  height: 36px;
  margin-bottom: 20px;
  background: #90caf9; /* Color of the track */
  font-size: 24px;

}

button {
  
  width: 100%;
  padding: 15px;
  background-color: #25306c;
  color: #90caf9;;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'DM Mono', monospace;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease ;
}

button:hover {
  transform: translateY(-5px);
  transform: translateX(-5px);
  box-shadow: 4px 4px 8px  rgba(0, 0, 0);
  background-color: #90caf9;
  color: rgb(0, 0, 0);
}

button:active {
  background-color: #90caf9;
  color: rgb(0, 0, 0);
}

::placeholder {
  color: #25306c;
  font-family: 'DM Mono', monospace;
}

.button-container {
  display: flex; /* Use flexbox layout */
  gap: 10px; /* Adjust the gap between buttons */
  justify-content: center; /* Center align the buttons horizontally */
}

/* Additional styles for buttons */
.button-container button {
  background-color: #90caf9;
  color: rgb(0, 0, 0);
  cursor: pointer;
  border: 1px #25306c solid;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  font-size: 1.25rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-container button:hover {
  transform: translateY(-5px);
  transform: translateX(-5px);
  box-shadow: 4px 4px 8px  rgba(0, 0, 0);
}


